<div class="text-center overflow-hidden position-relative w-100 h-100">
  <h1>WebRTC prototype</h1>
  <button *ngIf="!webcamActive" id="webcamButton" class="btn btn-primary" (click)="initWebcam()" #webcamButton>Start webcam <i class="bi bi-camera-video-fill"></i></button>
<div class="videos">
  <div class="w-100 text-center" *ngIf="webcamActive" #localContainer>
    <video class="w-100 res-height-100" id="webcamVideo" #webcamVideo autoplay playsinline></video>
  </div>
  <div *ngIf="webcamActive" #remoteContainer class="w-100 position-absolute" style="z-index: 99;">
    <video class="w-100 res-height-100" id="remoteVideo" #remoteVideo autoplay playsinline></video>
  </div>

</div>
<div [hidden]="!webcamActive" style="z-index: 999;" class="w-30 position-absolute bottom-0 start-50 translate-middle-x p-3" role="group">
  <!-- <button id="callButton" class="btn btn-secondary" #callButton disabled (click)="call()">Create</button> -->
  <div class="d-flex justify-content-evenly">
    <button class="custom-pad btn btn-lg btn-secondary rounded-circle" #joinCall disabled (click)="join()" ><i class="bi bi-telephone-plus-fill"></i></button>
    <button class="custom-pad btn btn-lg btn-success rounded-circle" #answerButton disabled (click)="answerModal()"><i class="bi bi-telephone-inbound-fill"></i></button>
    <button class="custom-pad btn btn-lg btn-danger rounded-pill" #hangupButton disabled (click)="hangUp()"><i class="bi bi-telephone-x-fill"></i></button>
  </div>
</div>


<div *ngIf="modalOpen" class="modal d-block" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share the code with your friends</h5>
      </div>
      <div *ngIf="joinModalOpen" class="modal-body">
        <div class="input-group">
          <input class="form-control" id="callInput" #callInput />
          <div class="input-group-append">
            <div class="input-group-text" id="btnGroupAddon" (click)="copyToClipboard(callInput)"><i class="{{clipboardClass}}"></i></div>
          </div>
        </div>
      </div>
      <div *ngIf="answerModalOpen" class="modal-body">
        <div class="input-group">
          <input class="form-control" id="answerInput" #answerInput />
          <button (click)="answerCall()">Answer</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
</div>